{
  "dev": {
    "snyk-token": "<your token>",
    "snyk-test-org": "<your test org>",
    "snyk-test-project": "<your test project inside the test org>",
    "snyk-test-target": "<your test target inside the test org>"
  }
}
