{
  "dev": {
    "snyk-token": "<REDACTED>",
    "snyk-test-org": "<REDACTED>",
    "snyk-test-project": "<REDACTED>",
    "snyk-test-target": "<REDACTED>"
    "snyk-test-issue-key": "<REDACTED>"
  }
}
